section table
	display block
	width 300px
	height 300px
	cellpadding 0
	cellspacing 0
	border none
	td
		width 100px
		max-width 100px
		height 100px
		max-height 100px
		text-align center
		line-height 100px
		padding 0
		margin 0
		font-size 90px
		border none
		background linear-gradient(bottom, #8B4513, #cda000 300%) no-repeat